<div class="container">
  <div class="table-responsive-md mt-3">
    <table class="table table-striped
    table-dark
    table-hover
    table-borderless
    align-middle">
      <thead>
        <h2>List Course</h2>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody class="table-group-divider">
          <tr>
            <th scope="row">1</th>
            <td>Java</td>
            <td>Item</td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
