<div class="container mt-3">
  <form [formGroup]="form" class="d-grid gap-2 col-3 mx-auto">
    <div class="text-white mb-3">
      <h3>Login</h3>
    </div>
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="inputUsername" placeholder="Username" formControlName="username">
      <label for="inputUsername">Username</label>
    </div>
    <div class="form-floating mb-3">
      <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password">
      <label for="inputPassword">Password</label>
    </div>
    <div class="d-grid col-5 mx-auto">
      <button type="submit" class="btn btn-primary mb-3" (click)="onLogin()">Login</button>
    </div>
  </form>
</div>

<ng-template #template>
  <app-spinner-loading></app-spinner-loading>
</ng-template>

