<div class="modal-content">
  <div class="modal-header bg-dark text-white">
    <h2 class="modal-title pull-left">Salvar Curso</h2>
  </div>
  <div class="modal-body bg-dark text-white">
    <p>Deseja deletar o curso <strong>'{{course.name}}'</strong>?</p>
  </div>
  <div class="modal-footer bg-dark">
    <button type="button" class="btn btn-warning" data-bs-dismiss="modal"
    (click)="onCancel()">Cancel</button>
    <button type="button" class="btn btn-danger" (click)="onConfirm()">Confirm</button>
  </div>
</div>
